h1, h2 {
    color: darkred;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    
}

body {
    background-color: lightgoldenrodyellow;
    padding: 20px;
}

section {
    border: 1px darkcyan dotted;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}